body {
  background-color: #e8f5e9;
  /* This is a light green color */
}

.logo-clickable {
  cursor: pointer;
}

.navbar {
  position: relative;
  z-index: 1000;
  /* High z-index to stay on top */
}

#navbar-container {
  position: relative;
  z-index: 1000;
}

/* Home page CSS start */
@media (max-width: 768px) {
  .hero-section img {
    height: 600px !important;
  }

  .carousel-item img {
    height: 400px !important;
  }

  .carousel-overlay h5 {
    font-size: 1rem;
  }

  .position-absolute.bottom-0.end-0 {
    bottom: 10px !important;
    right: 10px !important;
    max-width: 200px !important;
  }

  .position-absolute.bottom-0.end-0 h4 {
    font-size: 1rem;
  }

  .position-absolute.bottom-0.end-0 h6 {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .hero-section img {
    height: 500px !important;
  }

  .carousel-item img {
    height: 300px !important;
  }

  .carousel-container {
    width: 95% !important;
  }
}
/* Home page CSS end */

/* Card Animation */
.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Amenities Animation */
.amenities-row {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.amenities-row:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}